.cartitems{
    margin: 10px 120px;
}
.cartitems hr{
    height: 2px;
    background-color: #e2e2e2;
    border: 0;

}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr ;
    align-items:center ;
    gap: 75px;
    padding: 10px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;

}
.cartitems-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr ;
    align-items:center ;
    gap: 80px;
    padding: 10px 0px;
    color: #454545;
    font-size: 16px;
    font-weight: 500;
}
.carticon{
    height: 85px;
}
.removeicon{
    width: 15px;
    cursor: pointer;
    margin: 0px 40px;
}
.cartitems-quantity{
    width: 64px;
    height:50px ;
    border: 2px solid #ebebeb;
    background-color: white;
}
.cartitems-down{
    display: flex;
    margin: 30px 0px;

}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    gap: 20px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;

}
.cartitems-total h1{
    display: flex;
    margin-top: -12px;
    margin-bottom: -11px;
}
.cartitems-total button{
    width: 260px;
    height: 49px;
    outline: none;
    border: none;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}
.cartitems-total button:hover{
    transform: scale(1.05);
}
.cartitems-promocode{
     flex: 1;
     font-size: 16px;
     font-weight: 500;

}
.cartitems-promocode p{
    color: #555;
}
.cartitems-promocodebox{
    width: 504px;
    height: 58px;
    margin-top: 15px;
    padding-left: 21px;
    background-color: #eaeaea;
}
.cartitems-promocodebox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;

}
.cartitems-promocodebox button{
    width: 170px;
    height: 58px;
    cursor: pointer;
    font-size: 16px;
    background-color: black;
    color: white;
}
@media(max-width:1280px){
    .cartitems{
        margin: 60px 50px;
    }
    .cartitems-format{
        gap: 40px;
        font-size: 12px;
    }
    .cartitems-format-main{
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        width: 100%;
        padding: 15px 0px;
    }
    .removeicon{
        margin: auto;
    }
    .carticon{
        height: 50px;
    }
    .cartitems-quantity{
        width: 40px;
        height: 30px;
    }
    .cartitems-down{
        margin: 80px 0px;
        gap: 80px;
        flex-direction: column;
    }
    .cartitems-total-item{
        margin: 0px;
    }
    .cartitems-total button{
        max-width: 200px;
        height: 45px;
        font-size: 13px;

    }
    .cartitems-promocodebox{
        width: auto;
        max-width: 500px;
    }
    .cartitems-promocodebox input{
        width: 100%;

    }
    .cartitems-promocodebox button{
        width: 120px;
        margin-left: -125px;
    }
}
@media(max-width:500px){
    .cartitems-format-main{
        display: none;
        gap: 10px;
    }
    .cartitems-format{
        gap: 10px;
        grid-template-columns:0.5fr 3fr 0.5fr ;
        display: grid;
    }
    .cartitems-total h1{
        font-size: 26px;
    }
}